[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pudb = "*"
codecov = "*"
black = "*"
pre-commit = "*"
mock = "*"

[packages]
requests = "*"
pyhumps = "*"
dataclass-map-and-log = "==0.1.2"
tink-python-api-types = "==0.0.2"

[requires]
python_version = "3.8"
